@media (max-width: 1300px) {
  .title {
    font-size: 24px;
    line-height: 31px;
  }

  .container {
    max-width: 1024px;
  }

  .header__wrapper {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
  }

  .header__logo {
    //
    margin-right: 0;
    padding-top: 5px;
  }

  .header__search {
    padding-top: 5px;
    padding-left: 2px;
  }

  .nav__item:not(:last-child) {
    margin-right: 28px;
  }

  .header__container {
    margin-bottom: 34px;
  }

  .header__nav {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__logo svg {
    width: 166px;
  }

  .hero__container {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
    //grid-template-rows: repeat(1, 623px);
    // margin-bottom: 47px;
  }

  .hero__ivent {
    max-width: 466px;
    max-height: 623px;
    background-image: url("/images/Group60_1024.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: span 6;
    grid-row: span 1;
  }

  .ivent {
    padding-left: 30px;
  }

  .ivent__text {
    margin-bottom: 10px;
  }

  .ivent__title {
    font-size: 34px;
    line-height: 105%;
  }

  .ivent__button {
    margin-bottom: 30px;
  }

  .works__text {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 24px;
  }
  .works__list {
    //grid-template-rows: repeat(2, 332px);
  }

  .works-img1 {
    //height: 332px;
  }
  .works__img3 {
    max-width: 100%;
  }

  .about__title {
    max-width: 963px;
  }

  .about__wrapper {
    max-width: 963px;
  }

  .about__description {
    // min-width: 466px;
    margin-bottom: 19px;
    font-size: 16px;
  }

  .about__img {
    margin-bottom: 18px;
  }

  .subscribe__input {
    min-width: 342px;
  }

  .subscribe__input-wrap {
    display: block;
  }

  .subscribe__input {
    margin-bottom: 19px;
  }

  .subscribe__title {
    margin-left: -2px;
    font-size: 24px;
    margin-bottom: 17px;
  }

  .projects__container {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .project__tag {
    top: 6px;
    right: 8px;
  }
  .project__text {
    margin-bottom: 19px;
  }

  .project__text1, .project__text2, .project__text3 {
    display: none;
  }

  .project__text1-1024, .project__text2-1024, .project__text3-1024{
    display: block;
  }

  .projects__list {
    max-width: 962px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    //grid-template-rows: repeat(1, 285px);
    grid-auto-flow: row dense;
    gap: 24px 30px;
  }

  .projects__item1, .projects__item2, .projects__item3 {
    //height: 285px;
  }
  .projects__item1, .projects__item2 {
    grid-column: span 2;
    // min-width: 218px;
  }

  .projects__item3 {
    grid-column: span 4;
    //min-width: 466px;
  }

  .projects__item4 {
    background-image: url("/images/project4_1024.jpg");
    max-width: 590px;
    grid-column: span 5;
    grid-row: span 1;
  }

  .projects__item5 {
    background-image: url("/images/project7_1024.jpg");
    max-width: 590px;
    grid-column: span 5;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row: span 1;
  }

  .projects__item6, .projects__item7 {
    max-width: 342px;
    grid-column: span 3;
    grid-row: span 1;
  }

  .projects__item4, .projects__item5, .projects__item6, .projects__item7 {
    //height: 307px;
  }

  .bigcard__wrapper {
    padding-top: 32px;
  }

  .bigcard__button_1024 {
    bottom: 22px
  }

  .bigcard__description1 {
    margin-bottom: 45px;
  }

  .contacts {
    margin-bottom: 66px;
  }

  .contacts__container {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contacts__wrapper {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: row;
    gap: 30px;
  }

  .map-side {
    position: relative;
    grid-column: span 5;
    grid-row: span 1;
  }

  .contacts__order {
    max-width: 342px;
    grid-column: span 3;
    grid-row: span 1;
  }

  .map-side__card {
    // min-width: 590px;
    height: 312px;
  }

  .fieldsetarea {
    // min-width: 342px;
  }

  .order__title {
    font-size: 24px;
     line-height: 22px;
  }

  .order__text {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 11px;
  }

  .popup {
    position: absolute;
    top: 312px;
    padding-left: 30px;
    // min-width: 590px;
    width: 100%;
    height: 157px;
    background-color: rgba(32, 32, 32, 0.85);
    padding-top: 0;
  }

  .popup__open {
    top: unset;
    bottom: 100px;
  }

  .popup__title {
    padding-top: 24px;
    margin-bottom: 5px;
  }

  .popup-number {
    position: absolute;
    top: 110px;
    left: 178px;
  }

  .footer__wrapper {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer__logo svg{
    width: 166px;
  }

  .footer__logo {
    padding-top: 2px;
    min-width: 343px;
    grid-column: span 4;
  }

  .footer__text {
    grid-column: span 6;
    min-width: 380px;
    padding-right: 10px;
  }

  .footer__icons {
    padding-left: 60px;
  }


  .footer__socials-text {
    padding-left: 20px;
    min-width: 160px;
  }
}

@media (max-width: 1000px) {
  .header__nav {
    display: none;
  }
  .header__nav-mobile {
    max-width: 1000px;
  }

  .header__container {
    margin-bottom: 81px;
  }

  .header__nav-mobile {
    display: block;
  }

  .footer__text {
    display: none;
  }

  .footer__logo {
    min-width: 504px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }


  .header__container {
    margin-bottom: 81px;
  }

  .header__wrapper {
    max-width: 768px;
    justify-content: space-between;
    padding-left: 27px;
    padding-right: 27px;
  }

  .header__nav {
    display: none;
  }

  .header__search svg {
    transform: translateY(-5px);
  }

  .header__nav-mobile {
    display: block;
  }

  .nav__item-mobile {
    color: white;
  }

  .hero__container {
    max-width: 768px;
    padding-left: 28px;
    padding-right: 28px;
    //grid-template-rows: 452px;
  }

  .hero__ivent {
    //min-height: 452px;
    background-image: url("/images/Group60_768.jpg");
  }

  .ivent {
    padding-left: 27px;
  }

  .ivent__text {
    margin-bottom: 15px;
  }

  .ivent__title {
    font-size: 34px;
    line-height: 90%;
    margin-bottom: 22px;
  }
  .ivent__button {margin-bottom: 30px;}

  .works__list {
    //grid-template-rows: 228px;
    gap: 24px;
  }

  .works__text {
    font-size: 22px;
    line-height: 95%;
    margin-bottom: 20px;
  }

  .about__container {
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 70px;
  }

  .about__wrapper {
    max-width: 714px;
    padding-bottom: 0;
  }

  .about__title {
    max-width: 714px;
  }

  .about__description {
    //min-width: 342px;
    padding-bottom: 43px;
    font-size: 16px;
    line-height: 28px;
  }

  .subscribe__title {
    font-size: 24px;
    margin-left: 0;
  }

  .subscribe__input {
    margin-bottom: 21px;
  }

  .projects__container {
    max-width: 768px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .project__tag {
    top: 7px;
    right: 7px;
  }
  .projects__list {
    max-width: 714px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    //grid-template-rows: repeat(1, 295px);
    //grid-auto-flow: row dense;
    gap: 26px 30px;
  }

  .projects__item1, .projects__item2, .projects__item3 {
    grid-column: span 2;
    min-width: none;
    //height: 300px;
  }

  .projects__item4 {
    background-image: url("/images/project4_768.jpg");
    max-width: 714px;
    //height: 300px;
    grid-column: span 6;
    grid-row: span 1;
  }

  .projects__item5 {
    //height: 300px;
  }

  .projects__item6, .projects__item7 {
    max-width: 342px;
    //height: 302px;
    grid-column: span 3;
    grid-row: span 1;
  }

  .projects__item5 {
    background-image: url("/images/project7_768.jpg");
    max-width: 714px;
    grid-column: span 6;
    // grid-column-start: 4;
    // grid-column-end: 9;
    grid-row: span 1;
    order: 6;
  }


  .project__text {
    margin-bottom: 13px;
  }

  .project__text3 {
    margin-bottom: 34px;
  }

  .project__text1, .project__text2, .project__text3 {
    display: block;
  }

  .project__text1-1024, .project__text2-1024, .project__text3-1024{
    display: none;
  }

  .project__text6, .project__text7 {
    margin-bottom: 20px;
  }

  .bigcard__description2 {
    margin-bottom: 95px;
  }

  .bigcard__title {
    margin-bottom: 5px;
  }

  .bigcard__button {
    bottom: 28px;
  }

  .contacts {
    margin-bottom: 68px;
  }

  .contacts__container {
    max-width: 768px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .contacts__wrapper {
    min-width: 320px;
    gap: 22px 30px;
  }

  .map-side {
    grid-column: span 8;
  }

  .map-side__card {
    // min-width: 714px;
    height: 100%;
    min-height: 470px;
  }

  .popup {
    // min-width: 714px;
  }

  .popup__title {
    padding-top: 25px;
  }

  .popup__text {
    max-width: 436px;
    line-height: 29px;
  }

  .popup-number {
    position: unset;
  }

  .contacts__order {
    max-width: 466px;
    grid-column: span 6;
    grid-row: span 1;
  }

  .contacts__title {
    margin-bottom: 11px;
  }

  .order__text {
    margin-bottom: 13px;
  }

  .footer__wrapper {
    max-width: 768px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .footer__logo {
    min-width: 100px;
    grid-column: span 10;
  }

  .footer__logo svg {
    margin-bottom: -1px;
  }
}
//////////
@media (max-width: 720px) {
  .subscribe__input {
    min-width: 50px;
  }

  .contacts__wrapper {
     min-width: 320px;
  }

  .popup {
    min-width: 320px;
  }

  .footer__logo {
    min-width: 263px;
  }
}

@media (max-width: 620px) {
  .header__nav-mobile {
    display: none;
  }


  .navpopup {display: block;}

  .burger-wrapper {
   // padding-left: 20px;
    background-color: #4a4a4a;
  }

  .burger {
    display: block;
   // max-width: 278px;
    margin: 0 auto;
    padding-bottom: 9px;
    padding-top: 14px;
  }

  .nav__item {
    margin-bottom: 30px;
  }

  .nav__burger {
    margin-bottom: 212px;
  }

  .hero__container {
    max-width: 768px;
    padding-left: 28px;
    padding-right: 28px;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__ivent {
    max-width: 600px;
    grid-column: span 2;
  }

  .subscribe__button {
    margin-bottom: 60px;
  }

  .hero__works {
    grid-column: span 2;
  }

  .bigcard__description2 {
    margin-bottom: 70px;
  }

  .works__list {
    max-width: 714px;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-rows: 392px;
  }

  .works__img {
    object-fit: cover;
    //max-width: 150px;
  }

  .item1 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .item2, .item3 {
    grid-column: span 1;
  }

  .works-img1 {
    object-fit: cover;
    width: 100%;
    width: 714px;
  }

  .about__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 63px;
    padding-top: 30px;
    gap: 12px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer__logo {
    width: 100%;
    grid-column: span 1;
    background-color: #4a4a4a;
    order: 2;
    //transform: translateX(-21px);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .footer__socials {
    grid-column: span 1;
    order: 1;
    margin: 0 auto;
    transform: translateX(-5px);
  }

}

@media (max-width: 540px) {
  .ivent__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .ivent__title {
    max-width: 230px;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 14px;
  }

  .project__img {
    width: 100%;
    max-width: 100%;
  }

  .contacts__container {
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__title {
    padding-left: 27px;
  }

  .contacts__order {
    padding-left: 27px;
  }

  .projects__container {
    margin-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .projects__title {
    //max-width: 278px;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
  }

  .projects__list {
    //max-width: 278px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    //grid-template-rows: repeat(1, 300px);
    gap: 26px;
  }

  .projects__item {
    grid-column: span 1;
  }

  .projects__item2, .projects__item3 {
    //height: 277px;
  }

  .projects__item6, .projects__item7 {
    //height: 300px;
  }


  .project__text {
    margin-bottom: 11px;
  }

  .projects__item4 {
    background-image: url("/images/project4_320.jpg");
    background-repeat: no-repeat;
    //height: 422px;
  }

  .projects__item5 {
    background-image: url("/images/project7_320.jpg");
    background-repeat: no-repeat;
    //height: 422px;
  }

  .project__tag {
    top: 5px;
    right: 5px;
    padding: 4px 14px;
    font-size: 12px;
    line-height: 14px;
  }

  .bigcard__wrapper {
    padding-top: 198px;
  }

  .bigcard__date-wrap {
    margin-bottom: 9px;
  }

  .bigcard__title {
    margin-bottom: 10px;
  }

  .bigcard__description1, .bigcard__description2 {
    font-size: 14px;
    line-height: 18px;
    max-width: 218px;
  }

  .bigcard__description1 {
    margin-bottom: 15px;
  }

  .bigcard__description2 {
    margin-bottom: 23px;
  }

  .bigcard__button {
    bottom: -93px;
    width: 109px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .popup__text {
    max-width: 267px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .popup-number svg {
    height: 20px;
    width: 20px;
  }

  .popup-phonenumber {
    font-size: 14px;
    line-height: 18px;
  }
}



//////////
@media (max-width: 320px) {
  html {
    overflow-x: hidden;
  }
  body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

  .header__nav-mobile {
    display: none;
  }

  .burger-wrapper {
    padding-left: 0;
    max-width: 320px;
    background-color: #4a4a4a;
  }
  .burger {
   // display: block;
    max-width: 278px;
    margin: 0 auto;
    padding-bottom: 9px;
    padding-top: 14px;
  }

  .container {
    max-width: 320px;
  }

  .header__wrapper {
    height: 70px;
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }

  .header__logo svg {
    width: 111.55px;
  }

  .header__search svg {
    width: 20px;
    transform: translateY(-3px);
  }


  .hero__container {
    max-width: 320;
    padding-left: 20px;
    padding-right: 20px;
    //grid-template-rows: repeat(1, 422px);
    margin-bottom: 47px;
  }

  .hero__ivent {
    max-width: 278px;
    min-height: 422px;
    background-image: url("/images/Group60_320.jpg");
    grid-column: span 12;
    grid-row: span 1;
  }

  .header__container {
    margin-bottom: 65px;
  }

  .ivent {
    padding-left: 30px;
  }

  .ivent__tag {
    top: 6px;
    right: 4px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 14px;
  }

  .ivent__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .ivent__title {
    max-width: 230px;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 14px;
  }

  .ivent__button {
    width: 145px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .hero__works {
    grid-column: span 12;
  }

  .works__text {
    padding-top: 5px;
    margin-bottom: 15px;
    max-width: 278px;
    font-size: 18px;
    line-height: 104%;
  }

  .works__list {
    gap: 30px 26px;
    grid-template-rows: 186px;
  }

  .works__item {
    grid-column: span 12;
  }

  .works__image {
    max-width: 278px;
  }

  .item2, .item3 {
    grid-column: span 5;
  }

  .about__title {
    max-width: 278px;
  }

  .about__container {
    margin-bottom: 49px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about__wrapper {
    max-width: 278px;
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
  }

  .about__title {
    padding-top: 32px;
    font-size: 18px;
    line-height: 23px;
  }

  .about__description {
    width: 274px;
    margin-bottom: 0;
    padding-bottom: 0;
    min-width: 274px;
    font-size: 14px;
    line-height: 25px;
  }

  .about__img {
    margin-bottom: 21px;
  }
  .subscribe__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
  }

  .subscribe__input {
    min-width: 278px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .subscribe__button {
    width: 115px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 60px;
  }

  .projects__container {
    margin-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .projects__title {
    max-width: 278px;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
  }

  .projects__list {
    max-width: 278px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    //grid-template-rows: repeat(1, 300px);
    gap: 26px;
  }

  .projects__item {
    grid-column: span 1;
  }

  .projects__item2, .projects__item3 {
    //height: 277px;
  }

  .projects__item6, .projects__item7 {
    //height: 300px;
  }


  .project__text {
    margin-bottom: 11px;
  }

  .projects__item4 {
    background-image: url("/images/project4_320.jpg");
    background-repeat: no-repeat;
    //height: 422px;
  }

  .projects__item5 {
    background-image: url("/images/project7_320.jpg");
    background-repeat: no-repeat;
    //height: 422px;
  }

  .project__tag {
    top: 5px;
    right: 5px;
    padding: 4px 14px;
    font-size: 12px;
    line-height: 14px;
  }

  .bigcard__wrapper {
    padding-top: 198px;
  }

  .bigcard__date-wrap {
    margin-bottom: 9px;
  }

  .bigcard__title {
    margin-bottom: 10px;
  }

  .bigcard__description1, .bigcard__description2 {
    font-size: 14px;
    line-height: 18px;
    max-width: 218px;
  }

  .bigcard__description1 {
    margin-bottom: 15px;
  }

  .bigcard__description2 {
    margin-bottom: 23px;
  }

  .bigcard__button {
    bottom: -93px;
    width: 109px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts {
    margin-bottom: 30px;
  }

  .contacts__wrapper {
    max-width: 320px;
  }

  .contacts__title {
    max-width: 278px;
    margin: 0 auto;
    padding-left: 0;
    font-size: 18px;
    line-height: 23px;
  }

  .map-side{
    width: 320px;
  }

  .map-side__card {
    min-height: 485px;
  }

  .popup {
    max-width: 320px;
    min-width: 200px;
    top: 329px;
    height: 157px;
    padding-left: 20px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .popup__text {
    max-width: 267px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .popup-number svg {
    height: 20px;
    width: 20px;
  }

  .popup-phonenumber {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__wrapper {
    grid-template-columns: 278px;
    grid-auto-flow: row;
    min-width: 278px;
    gap: 3px
   // width: 278px;
  }

  .map-side {
    grid-column: span 1;
  }

  .contacts__order {
    max-width: 278px;
    grid-column: span 1;
    padding: 21px;
  }

  .order__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 7px;
  }

  .order__text {
    font-size: 14px;
    line-height: 18px;
    width: 278px;
    margin-bottom: 14px;
  }

  .fieldsetarea {
    height: 41px;
    width: 278px;
  }

  .fieldsetarea::placeholder {
    font-size: 14px;
    line-height: 16px;
    //padding-left: 20px;
  }

  .fieldsetarea.fieldset__comment {
    height: 149px;
    padding-bottom: 124px;
  }

  .fieldset-submit {
    width: 115px;
    height: 40px;
    font-size: 14px;
    line-height: 15px;
  }

  .footer__container {
    height: 123px;
  }

  .footer__wrapper {
    max-width: 320px;
    grid-template-columns: 278px;
    grid-template-rows: 63px;
    gap: 28px;
    padding-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer__logo {
    min-width: 320px;
    grid-column: span 1;
    background-color: #4a4a4a;
    order: 2;
    transform: translateX(-15px);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .footer__socials {
    grid-column: span 1;
    order: 1;
    margin: 0 auto;
    transform: translateX(-5px);
  }

  .footer__logo svg{
    width: 111.55px;
    padding-top: 10px;
    margin-bottom: 2px;
  }

  .footer__logo-text {
    font-size: 10px;
    line-height: 13px;
    padding-bottom: 15px;
  }

}
